


@model IPagedList<Post>

@{
    ViewData["Title"] = "SearchIndex";
}

<div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
        <div class="container">
            <div class="row">

                @foreach (var post in Model)
                {
                    <!-- post -->
                    <div class="post col-xl-6">
                        <div class="post-thumbnail"><a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug"><img src="~/img/blog-post-1.jpeg" alt="..." class="img-fluid"></a></div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date meta-last"> @post.Created.Month @post.Created.Month.ToString("") | @post.Created.Year @*20 May | 2016*@</div>
                                <div class="category">
                                    <a href="#">@post.Blog.Name</a>
                                </div>
                            </div>
                            <a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">
                                <h3 class="h4">@post.Title</h3>
                            </a>
                            <p class="text-muted">@post.Abstract</p>
                            <footer class="post-footer d-flex align-items-center">
                                <a href="#" class="author d-flex align-items-center flex-wrap">
                                    <div class="avatar"><img src="~/img/avatar-3.jpg" alt="..." class="img-fluid"></div>
                                    <div class="title"><span>Hassan Salihu</span></div>
                                </a>
                                <div class="date">
                                    <i class="icon-clock"></i>
                                    @{
                                        var months = DateTime.Now.Month - post.Created.Month;

                                        if (months == 0)
                                        {
                                            <span>@DateTime.Now.AddDays(-post.Created.Day).Humanize() </span>
                                        }
                                        else
                                        {
                                            <span>@DateTime.Now.AddMonths(-post.Created.Month).Humanize() </span>
                                        }

                                    }


                                </div>
                                <div class="comments meta-last"><i class="icon-comment"></i>@post.Comments.Count</div>
                            </footer>
                        </div>
                    </div>
                    <!-- post             -->
                }

            </div>
            <!-- Pagination -->
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-template d-flex justify-content-center">

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page,searchTerm = ViewData["SearchTerm"] }), new PagedListRenderOptions
               {
                   LiElementClasses = new[] { "page-item" },
                   PageClasses = new[] { "page-link" }
               })
                    @*<li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a href="#" class="page-link active">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>*@
                </ul>
            </nav>
        </div>
    </main>

    <partial name="_AsidePartial" />

</div>
